allow surfaceflinger platform_app:process getattr;
allow surfaceflinger priv_app:process getattr;
allow surfaceflinger system_server:process getattr;
allow surfaceflinger untrusted_app:process getattr;
allow surfaceflinger untrusted_app_27:process getattr;
allow surfaceflinger untrusted_app_29:process getattr;
allow surfaceflinger bootanim:dir search;
allow surfaceflinger bootanim:file read;
allow surfaceflinger system_app:process getattr;
allow surfaceflinger gmscore_app:process getattr;
allow surfaceflinger bootanim:file open;
allow surfaceflinger bootanim:process getattr;
allow surfaceflinger mediaserver:process getattr;
